<ion-header>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" color="success">
  <!-- <h2>Data Mahasiswa</h2>
    <p>Nama   : {{nama}}</p>
    <p>NIM    : {{nim}}</p>
    <p>Kelas  : {{kelas}}</p>
    <p>Prodi  : {{prodi}}</p>
    <p>SPP    : {{spp | currency: 'Rp '}}</p>
 -->
  <!-- <ion-card>
    <ion-item>
      <ion-label>
        <h2>{{a}}+{{b}}={{c}}</h2>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
      <ion-item>
        <ion-label>
          angka 1
        </ion-label>
        <ion-input placeholder="masukkan angka 1" [(ngModel)]="angka1"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          angka 2
        </ion-label>
        <ion-input placeholder="masukkan angka 2" [(ngModel)]="angka2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-button color="warning" (click)="kali()" expand="block"> Kali </ion-button>
        <ion-button color="warning" (click)="kurang()" expand="block"> Kurang </ion-button>
        <ion-button color="warning" (click)="bagi()" expand="block"> Bagi </ion-button>
        <ion-button color="warning" (click)="tambah()" expand="block"> tambah </ion-button>

      </ion-item>

      <ion-item>
        <h2>{{hasil}}</h2>
      </ion-item>
      

  </ion-card> -->




  <ion-slides>
    <ion-slide>
      <ion-card>
        {{title}}
      </ion-card>
    </ion-slide>
  </ion-slides>
  
</ion-content>